
#profileCreateModal{
    max-height: 95dvh;
    overflow-y: scroll;
}

#profileCreateModal::-webkit-scrollbar{
    display: none;
}

.profile-form .criteria-selected {
    width: 100%;
    min-height: 80px;
    border: 1px dotted #888;
    padding: 8px;
    display: flex;
    gap: 8px;
}

.criteria-selected > .criterion {
    border-radius: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 10px;
    padding: 8px !important;
    height: min-content;
    flex-shrink: 0;
}

.profile-form .criterion-creation-section-toggle {
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    color: inherit;
    margin-block: 6px;
}

.profile-form .criterion-creation-section-toggle:hover {
    color: #888;
}


/* Criteria Creation */
.profile-form:has(.criterion-creation-section.show-block) .criterion-creation-section-toggle {
    color: #886;
}

.criterion-creation-section{
    display: none;
    width: 100%;
    padding: 8px;
}

.criterion-creation-fields{
    width: 100%;
    margin-block: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

