{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block stylesheets %}
<link href="{% static 'core/styles/form_card.css' %}" rel="stylesheet">
<link href="{% static 'portfolios/styles/portfolio_list.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="modal fade" id="portfolioCreateModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Portfolio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body">
                <form action="{% url 'portfolios:portfolio_create' %}" method="post" id="portfolio-create-form">
                    {% csrf_token %}
    
                    <div class="form-fields">
                        <div class="form-field">
                            <label for="name">Portfolio Name</label>
                            <input 
                                type="text" 
                                class="form-input form-control input-rounded" 
                                placeholder="Portfolio Name" 
                                name="name"
                                required
                                title="Enter the portfolio name."
                            >
                            <small class="field-message"></small>
                        </div>

                        <div class="form-field">
                            <label for="cash_amount">Cash Amount</label>
                            <input 
                                type="number" 
                                class="form-input form-control input-rounded" 
                                placeholder="Cash amount (PKR)" 
                                name="cash_amount"
                                required
                                title="Portfolio cash amount."
                            >
                            <small class="field-message"></small>
                        </div>

                        <div class="form-field">
                            <label for="brokerage_percentage">Brokerage Percentage</label>
                            <input 
                                type="number" 
                                class="form-input form-control input-rounded" 
                                placeholder="Brokerage Percentage"
                                name="brokerage_percentage" 
                                min="0"
                                max="99.99"
                                step="0.00001"
                                value="15.00"
                                title="Enter your default brokerage percentage."
                            >
                            <small class="field-message"></small>
                        </div>

                        <div class="form-field">
                            <label for="description">Description</label>
                            <textarea 
                                class="form-input form-control input-rounded" 
                                rows="7" 
                                placeholder="Description" 
                                name="description" 
                                title="Give a short description of the portfolio."
                            ></textarea>
                            <small class="field-message"></small>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="submit" class="btn light btn-success btn-sm submit-btn">Create</button>
                        <button type="button" class="btn btn-danger light btn-sm" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>       
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card text-white" id="primary-card">
            <div class="card-header flex-wrap">
                <h5 class="card-title text-white">Portfolios</h5>
            </div>
            <div class="tab-content" id="myTabContent4">
                <div class="tab-pane fade show active" id="Primarycard" role="tabpanel" aria-labelledby="home-tab">
                    <div class="card-body mb-0" style="display: flex; align-items: flex-end; gap: 12px;">
                        <button 
                            type="button" 
                            class="btn btn-light btn-sm" 
                            data-bs-toggle="modal" 
                            data-bs-target="#portfolioCreateModal"
                        >
                            Create Portfolio
                        </button>
                    </div>
                </div>
            </div>		
        </div>
    </div>

    <section id="portfolios-section">
        {% for portfolio in portfolios %}
        <div class="card mw-l" id="card-title-2">
            <div class="card-header">
                <h5 class="card-title">{{ portfolio.name }}</h5>
                
                <div class="dropdown custom-dropdown">
                    <div class="btn sharp btn-primary tp-btn" data-bs-toggle="dropdown" aria-expanded="true">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
                    </div>
                    <div class="dropdown-menu dropdown-menu-end" data-popper-placement="top-end" data-popper-reference-hidden="" style="position: absolute; inset: auto 0px 0px auto; margin: 0px; transform: translate(-1.01735px, -36.3924px);">
                        <a class="dropdown-item" href="javascript:voiud(0);">Edit</a>
                        <a class="dropdown-item" href="{% url 'portfolios:portfolio_delete' portfolio.id %}">Delete</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">{{ portfolio.description }}</p>
            </div>
            <div class="card-footer d-sm-flex justify-content-between align-items-center">
                <div class="card-footer-link mb-4 mb-sm-0">
                    <p class="card-text d-inline">
                        Last updated {{ portfolio.updated_at|timesince }} ago
                    </p>
                </div>
        
                <a href="{% url 'portfolios:portfolio_detail' portfolio.id %}" class="btn btn-outline-primary btn-sm text-white">View Details</a>
            </div>
        </div>  
        {% endfor %}
    </section>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'core//scripts//formCard.js' %}"></script>
<script src="{% static 'portfolios//scripts//portfolioCreate.js' %}"></script>
{% endblock scripts %}
